TESLA_EMAIL=
TESLA_PASSWORD=
API_KEY=
BUNNY_PULLZONE_URL=https://your-pullzone.b-cdn.net
BUNNY_STORAGE_URL=https://storage.bunnycdn.com
BUNNY_STORAGE_ZONE=your-storage-zone-name
BUNNY_ACCESS_KEY=your-access-key