<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MLSII{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Vercel Speed Insights -->
    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
</head>

<body>
    {% if request.endpoint != 'index' %}
    <nav>
        <a href="{{ url_for('index') }}" class="logo">THESAINTMARCUS</a>
        <div class="nav-links">
            <a href="{{ url_for('portfolio') }}">PORTFOLIO</a>
            <a href="https://www.shawthewall.com" target="_blank">SHAWTHEWALL</a>
            <a href="{{ url_for('tesla') }}">PROJECT TESLA</a>
            <a href="{{ url_for('links') }}">LINK IN BIO</a>
        </div>
    </nav>
    {% endif %}

    <main role="main">
        {% block content %}{% endblock %}
    </main>

    <div class="social-links">
        <a href="https://www.youtube.com/@thesaintmarcus" target="_blank" aria-label="YouTube">
            <!-- Your YouTube SVG -->
        </a>
        <a href="https://www.instagram.com/thesaintmarcus" target="_blank" aria-label="Instagram">
            <!-- Your Instagram SVG -->
        </a>
    </div>

    <script src="{{ url_for('static', filename='menu.js') }}"></script>
</body>

</html>