{% extends "base.html" %}
{% block content %}

<div class="links-container">
    <h1 class="links-title">LINK IN BIO</h1>

    <div class="links-grid">
        <a href="https://www.tesla.com/referral/marcus222004" class="link-button" target="_blank" rel="noopener noreferrer">
            <div class="link-image"
                style="background-image: url('{{ url_for('static', filename='images/tesla-preview.jpg') }}');">
                <span class="link-text">Tesla Referral</span>
            </div>
        </a>

        <a href="https://dashboard.m1.com/signup/referrals?referrerCode=2xNRzQybNlnb&utm_medium=referral&utm_campaign=31835&utm_source=2xNRzQybNlnb"
            class="link-button" target="_blank" rel="noopener noreferrer">
            <div class="link-image"
                style="background-image: url('{{ url_for('static', filename='images/m1-preview.png') }}');">
                <span class="link-text">M1 Referral</span>
            </div>
        </a>
    </div>
</div>

{% endblock %}
