{% extends "base.html" %}
{% block content %}
<div class="tesla-container">
    <div class="tesla-content">
        <h1>PROJECT TESLA</h1>
        {% if tesla_data %}
        <div class="tesla-stats">
            <div>
                <div class="tesla-label">Battery</div>
                <div class="battery-container">
                    {% if tesla_data.battery_level is defined %}
                    <div class="battery-level" style="width: {{ tesla_data.battery_level }}%"></div>
                    {% endif %}
                </div>
                <div>
                    {% if tesla_data.battery_level is defined %}
                    {{ tesla_data.battery_level }}%
                    {% else %}
                    --
                    {% endif %}
                </div>
            </div>
            <div>
                <div class="tesla-label">Range</div>
                <div>
                    {% if tesla_data.range is defined %}
                    {{ tesla_data.range }} mi
                    {% else %}
                    -- mi
                    {% endif %}
                </div>
            </div>
            <div>
                <div class="tesla-label">Status</div>
                <div>{{ tesla_data.state|title }}</div>
            </div>
        </div>
        {% else %}
        <div class="tesla-stats">
            <div class="tesla-label">Error fetching Tesla data</div>
            {% if tesla_data.error is defined %}
            <div class="tesla-error">{{ tesla_data.error }}</div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}